<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()" >
    <div class="p-grid">
      <div class="p-col-12 ui-fluid">
        <h1>Lista de Estudantes</h1>
        <label>Nome</label>
        <input type="text" pInputText  name="nome" [(ngModel)]="filtro.nome"/>
      </div>

      <div class="p-col-12">
        <label style="display: block;">Data de Nascimento</label>
        <p-calendar [inputStyle]="{ width: '95px', 'margin-right': '5px' }" dateFormat="dd/mm/yy"
        name="dataNascimentoDe" [(ngModel)]="filtro.dataNascimentoDe"></p-calendar>
        <label>Até</label>
        <p-calendar [inputStyle]="{ width: '95px', 'margin-left': '5px' }" dateFormat="dd/mm/yy"
        name="dataNascimentoAte" [(ngModel)]="filtro.dataNascimentoAte"></p-calendar>
      </div>

      <div class="p-col-12">
        <button type="submit" label="Pesquisar" pButton></button>
      </div>
    </div>
  </form>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="estudantes" [responsive]=true [paginator]="true" [rows]="filtro.itensPorPagina"
      [totalRecords]="totalRegistros" [lazy]="true" (onLazyLoad)="aoCaregarTabela($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th class="col-codigo">#</th>
            <th>Nome</th>
            <th class="col-nascimento">Data de Nascimento</th>
            <th class="col-numero">Número</th>
            <th>Curso</th>
            <th class="col-contacto">Contacto</th>
            <th class="col-proveniencia">Proveniência</th>
            <th class="col-accoes"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-estudante>
          <tr>
            <td><span class="ui-column-title">#</span>
              {{estudante.id}}
            </td>
            <td><span class="ui-column-title">Nome</span>
              {{estudante.nome}}
            </td>
            <td class="col-nascimento-body"><span class="ui-column-title">Nascimento</span>
              {{estudante.dataNascimento | date:"dd/MM/yyyy"}}
            </td>
            <td class="col-numero-body"><span class="ui-column-title">Número</span>
              {{estudante.numero}}
            </td>
            <td><span class="ui-column-title">Curso</span>
              {{estudante.curso}}
            </td>
            <td><span class="ui-column-title">Contacto</span>
              {{estudante.celular}}
            </td>
            <td class="col-proveniencia-body"><span class="ui-column-title">Proveniência</span>
              {{estudante.proveniencia}}
            </td>
            <td class="col-accoes-body"><span class="ui-column-title">Acções</span>
              <a href="javascript:;" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Remover" tooltipPosition="top" (click)="aoRemover(estudante)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Nenhum Registro encontrado!</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a pButton label="Novo Estudante" icon="pi pi-plus" routerLink="/estudantes/novo"></a>
    </div>
  </div>

</div>

