<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="p-grid">
      <div class="p-col-12">
        <h1>Lista de Funcionários</h1>
      </div>
      <div class="p-col-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="p-col-12">
        <button type="submit" pButton label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="funcionarios" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
        [totalRecords]="totalRegistros" [lazy]="true" (onLazyLoad)="aoCarregarTabela($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th class="col-codigo">#</th>
            <th>Nome</th>
            <th class="col-contacto">Celular</th>
            <th class="col-proveniencia">Proveniência</th>
            <th class="col-accoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-funcionario>
          <tr>
            <td>
              <span class="ui-column-title">#</span>
              {{funcionario.id}}
            </td>
            <td>
              <span class="ui-column-title">Nome</span>
              {{funcionario.usuario.nome}}
            </td>
            <td>
              <span class="ui-column-title">Celular</span>
              {{funcionario.usuario.celular}}
            </td>
            <td class="col-proveniencia-body">
              <span class="ui-column-title">Proveniência</span>
              {{funcionario.usuario.distrito.provincia.nome}}
            </td>
            <td class="col-accoes-body"><span class="ui-column-title">Acções</span>
              <a href="javascrip:;" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/funcionarios', funcionario.id]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Remover" tooltipPosition="top"
                (click)="aoRemover(funcionario)">
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">Nenhum Regustro encontrado!</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a pButton icon="pi pi-plus" label="Novo Funcionario" href="javascript:;"></a>
    </div>
  </div>
</div>
