<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu=!exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ authService.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="activo"
      *ngIf="authService.temPermissao('ROLE_PESQUISAR_ESTUDANTE')">
      <a routerLink="/estudantes">Estudantes</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="activo"
      *ngIf="authService.temPermissao('ROLE_PESQUISAR_FUNCIONARIO')">
      <a routerLink="/funcionarios">Funcionários</a>
    </li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Sair</a></li>
  </ul>
</nav>
